*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
.env
.venv
env/
venv/
.ipynb_checkpoints/
*.ipynb
chroma_fardfars/

storage/
index_store/
vector_store/
*.jsonl
*.json
huggingface/
hf_cache/
~/.cache/huggingface/
.cache/
data/processed/
*.log
logs/
log/
.DS_Store
Thumbs.db 
*.swp
*.swo
.vscode/
.idea/
*.tar
*.img
docker/local.env
docker-compose.override.yml
*.env
.env.*
secret_*.txt
secrets/
HF_Token
OPEN_API_KEY
GOOGLE_APPLICATION_CREDENTIALS
build/
dist/
*.egg-info/
