accelerate
chromadb
Flask
gitpython
huggingface-hub>=1.18.0
hypercorn
llama-index>=0.14.12
llama-index-embeddings-huggingface>=0.5.5
llama-index-readers-file>=0.4.11
llama-index-vector-stores-chroma>=0.4.2
lxml
onnxruntime>=1.18.0
onnxruntime-genai>=0.4.0
python-dotenv
pytest
pytest-cov
requests
sentencepiece
tqdm
uvicorn
